
$mobile : "(max-width : 500px)";

@font-face {
    font-family: 'helvetical-light';
    src: url("../fonts/Helvetica-Light.woff");
    font-weight: bold;
}
@font-face {
    font-family: 'helvetical-normal';
    src: url("../fonts/Helvetica-Normal.woff");
    font-weight: bold;
}
@font-face {
    font-family: 'helvetical-bold';
    src: url("../fonts/Helvetica-Bold.woff");
    font-weight: bold;
}

 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    // font-family: 'helvetical-light';
    font-family: "Roboto", sans-serif;
}

body{
    background: #000;

    header{ 
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 100;
        height: 80px;
        display: flex;
        align-items: center;
        z-index: 1000;
       
        .logo{
            width: auto; height: 50px; 
            display: flex; align-items:  center; justify-content: center;
            margin: 0 0 0 20px; text-align: center;  position: relative; z-index: 100;
            p{
                color:  rgba(128, 128, 128, 1); font-size: 15px; 
                transition: opacity 0.5s ease;
          
            }   
        }
        .ham{
            width: 30px;
            height: 35px;
            position: absolute; z-index: 100;
            top: 30px; right: 20px;
            transition: .5s ease-in-out;
            cursor: pointer;
            span{
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background:  rgba(128, 128, 128, 1);;
                opacity: 1;
                left: 0;
                transition: .25s ease-in-out;
                transform-origin: left center;
                &:nth-child(1) {
                    top: 0px;
                  }
                  
                  &:nth-child(2) {
                    top: 9px;             
                  }
                  
                  &:nth-child(3) {
                    top: 19px;
                  }
            }
            &.on{
                width: 30px;
                span{
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: -3px;
                        left: 8px;
                    }
                    &:nth-child(2){
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        top: 19px;
                        left: 8px;
                    }
                }
            }
            
        }
        .menuContents{
            width: 100vw; height: 100vh;  background:transparent; background: #000; display: none;
            top: 0; left: 0;
            position: absolute; z-index: 50; 
            .cont{
                border-right: 1px solid #333;
                width: calc(100% / 3);
                height: 0;
                z-index: 1000; transition: all 0.5s forwards;
                
            }
        }



    }
    main{
        width: 100vw;
        height: 100vh;
        section{
            &.main-effect{
                position: fixed; width: 100vw; height: 100vh;
                .main-parallax{
                    width: 22vw; height: 22vw;
                    position: absolute; top: 50%; left: 50%;
                    transform: translate(-50%,-50%); 
                    display: flex; align-items: center; justify-content: center;
    
                    .line4{
                        > div{
                            width: 200vw;
                            height: 1px;
                            background: rgb(56, 56, 56);
                            position: absolute;
                            &.top-left{
                                left: -100vw;
                                top: 0;
                                transform: rotate(45deg);
                            }
                            &.top-right{
                                right: -100vw;
                                top: 0;
                                transform: rotate(-45deg);
                            }
                        }
    
                    }
                    .box{
                        position: fixed;
                        background-position: top center;
                        background-size: cover;
                        perspective: 400px;
                        width: 30vw;height: 30vw;
                        min-width: 200px; min-height: 200px;
                        border: 1px solid rgb(56, 56, 56);
                        display: flex; align-items: center; justify-content: center;
    
    
                        &.mainTitle{
                            &.active{
                                animation: opacityAdjust .4s ease forwards;
                            }
                            
                            h2{
                                color:  #fff; font-size: 3vw; font-weight: 100;
                                width: 30vw; height: 30vw; min-width: 200px; min-height: 200px;
                                display: flex; align-items: center; justify-content: center; letter-spacing: 25px;
                                transition: letter-spacing ease 1s; background: #000;
    
                                span{
                                    display: block;
                                    &.scale-up-appear{
                                        opacity: 0; display: none; transition: display 1s ease-in-out;
                                  
                                        &.active{
                                            opacity: 1; display: block;
                                            animation: appearText  forwards;
                                        }
                                    }
                                    &.scale-up-disappear{
                                        opacity: 1; display: block; transition: display 1s ease-in-out;
                                 
                                        &.active{
                                            opacity: 0; display: none;
                                            animation: appearText reverse forwards;
                                        }
                        
                                    }
                                }
                                &.active{
                                    letter-spacing: 0;
                                    font-weight: 500;
                                }
                                
                            }
                         
                        }
                    }
                    .blink_zoom{
                        div{
                            position: absolute;
                            width: 3vw; height: 3vw;
                            @media #{$mobile} {
                                width: 25px; height: 25px;
              
                            }
                            &.top{
                                right: -10px;
                                top: -10px;
                                border-top: 2px solid #444;
                                border-right: 2px solid #222;
                                animation: blink_main_top 2s ease-in-out infinite;
                            }
                            &.bottom{
                                bottom: -10px;
                                left: -10px;
                                border-left: 2px solid #444;
                                border-bottom: 2px solid #222;
                                animation: blink_main_bottom 2s ease-in-out infinite;
                            }
                            &.left{
                                left: -10px;
                                top: -10px;
                                border-top: 2px solid #444;
                                border-left: 2px solid #222;
                                animation: blink_main_left 2s ease-in-out infinite;
                     
                            }
                            &.right{
                                right: -10px;
                                bottom: -10px;
                                border-bottom: 2px solid #444;
                                border-right: 2px solid #222;
                                animation: blink_main_right 2s ease-in-out infinite;
                            }
                        }
               
                    }
                }
            }
            &.works{
                height: 1200vh; border: 1px solid #f00;
                position: relative; z-index: 1000;
                .project-slider{
                    margin-top: 400vh; position: relative;
                    height: calc(100% - 400vh);
                    background: #fff;
                    display: flex;
                    div{
                        width: 50%; height: auto;
                        border: 1px solid #000;
                        > div{
                            border: 1px solid #000;
                            width: 100%; height: 100vh;
                        }
                        &:nth-child(odd){
                  
                        }
                    }
                    .project-title{
                        position: fixed; background: #000;
                        border: 1px solid #fff;
                        width: 50%; height: 100vh;
                        top: 0; left: 0; 
                        >div{
                            position: fixed; 
                            border: 1px solid #fff;
                            color: #fff; height: 100vh;
                        }
                    }
                }


            }
        }


  
    }

    .contact{
        position: fixed; bottom: 0;
        height: auto; left: 50%; transform: translate(-50%, calc(100% - 40px) );
        height: 100vh; 
        button{
            color: #000; background: #fff;
            font-family: 'helvetical-bold';font-size: 18px;
            height: 40px;
            width: 200px;
            font-weight: 100;   
    
        }
        .cont{
            background:  rgba(128, 128, 128, 1);
            position: absolute;
            height:calc(100% - 40px); width: 50vw;
            border-radius: 0 20px 0 0;
        }
        &.active{

            animation: contactUp 1s ease forwards;
        }
    }
    footer{
        color:  rgba(128, 128, 128, 1);
        position: fixed; bottom: 30px; right: 20px;
        font-size: 13px;
        @media #{$mobile} {
            bottom: 50px;
            text-align: center;
            width: 100%;
            right: auto;
            font-size: 12px;
        }
    }

}

// MAIN KEY FRAME

@keyframes blink_main_top {
    0%{
        right: -10px;
        top: -10px;
        opacity: 0;
    }
    50%{
        right: -20px;
        top: -20px;
        opacity: 1;
    }
    100%{
        right: -10px;
        top: -10px;
        opacity: 0;
    }
}
@keyframes blink_main_bottom{
    0%{
        left: -10px;
        bottom: -10px;
        opacity: 0;
    }
    50%{
        left: -20px;
        bottom: -20px;
        opacity: 1;
    }
    100%{
        left: -10px;
        bottom: -10px;
        opacity: 0;
    }
}
@keyframes blink_main_left{
    0%{
        left: -10px;
        top: -10px;
        opacity: 0;
    }
    50%{
        left: -20px;
        top: -20px;
        opacity: 1;
    }
    100%{
        left: -10px;
        top: -10px;
        opacity: 0;
    }
}
@keyframes blink_main_right{
    0%{
        right: -10px;
        bottom: -10px;
        opacity: 0;
    }
    50%{
        right: -20px;
        bottom: -20px;
        opacity: 1;
    }
    100%{
        right: -10px;
        bottom: -10px;
        opacity: 0;
    }
}

@keyframes appearText {
    0%{
        display: none;
 
    }
    100%{
        display: block;

    }
}
@keyframes contactUp{
    0%{
        transform: translate(-50%, calc(100% - 40px) );
    }
    100%{
        transform: translate(-50%, 0px);
    }
}

@keyframes opacityAdjust{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
