@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "helvetical-light";
  src: url("../fonts/Helvetica-Light.woff");
  font-weight: bold;
}
@font-face {
  font-family: "helvetical-normal";
  src: url("../fonts/Helvetica-Normal.woff");
  font-weight: bold;
}
@font-face {
  font-family: "helvetical-bold";
  src: url("../fonts/Helvetica-Bold.woff");
  font-weight: bold;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #000;
}
body header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 1000;
}
body header .logo {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
  text-align: center;
  position: relative;
  z-index: 100;
}
body header .logo p {
  color: rgb(128, 128, 128);
  font-size: 15px;
  transition: opacity 0.5s ease;
}
body header .ham {
  width: 30px;
  height: 35px;
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
body header .ham span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgb(128, 128, 128);
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
body header .ham span:nth-child(1) {
  top: 0px;
}
body header .ham span:nth-child(2) {
  top: 9px;
}
body header .ham span:nth-child(3) {
  top: 19px;
}
body header .ham.on {
  width: 30px;
}
body header .ham.on span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
body header .ham.on span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
body header .ham.on span:nth-child(3) {
  transform: rotate(-45deg);
  top: 19px;
  left: 8px;
}
body header .menuContents {
  width: 100vw;
  height: 100vh;
  background: transparent;
  background: #000;
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
}
body header .menuContents .cont {
  border-right: 1px solid #333;
  width: 33.3333333333%;
  height: 0;
  z-index: 1000;
  transition: all 0.5s forwards;
}
body main {
  width: 100vw;
  height: 100vh;
}
body main section.main-effect {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
body main section.main-effect .main-parallax {
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.main-effect .main-parallax .line4 > div {
  width: 200vw;
  height: 1px;
  background: rgb(56, 56, 56);
  position: absolute;
}
body main section.main-effect .main-parallax .line4 > div.top-left {
  left: -100vw;
  top: 0;
  transform: rotate(45deg);
}
body main section.main-effect .main-parallax .line4 > div.top-right {
  right: -100vw;
  top: 0;
  transform: rotate(-45deg);
}
body main section.main-effect .main-parallax .box {
  position: fixed;
  background-position: top center;
  background-size: cover;
  perspective: 400px;
  width: 30vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.main-effect .main-parallax .box.mainTitle.active {
  animation: opacityAdjust 0.4s ease forwards;
}
body main section.main-effect .main-parallax .box.mainTitle h2 {
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  width: 30vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 25px;
  transition: letter-spacing ease 1s;
  background: #000;
}
body main section.main-effect .main-parallax .box.mainTitle h2 span {
  display: block;
}
body main section.main-effect .main-parallax .box.mainTitle h2 span.scale-up-appear {
  opacity: 0;
  display: none;
  transition: display 1s ease-in-out;
}
body main section.main-effect .main-parallax .box.mainTitle h2 span.scale-up-appear.active {
  opacity: 1;
  display: block;
  animation: appearText forwards;
}
body main section.main-effect .main-parallax .box.mainTitle h2 span.scale-up-disappear {
  opacity: 1;
  display: block;
  transition: display 1s ease-in-out;
}
body main section.main-effect .main-parallax .box.mainTitle h2 span.scale-up-disappear.active {
  opacity: 0;
  display: none;
  animation: appearText reverse forwards;
}
body main section.main-effect .main-parallax .box.mainTitle h2.active {
  letter-spacing: 0;
  font-weight: 500;
}
body main section.main-effect .main-parallax .blink_zoom div {
  position: absolute;
  width: 3vw;
  height: 3vw;
}
@media (max-width : 500px) {
  body main section.main-effect .main-parallax .blink_zoom div {
    width: 25px;
    height: 25px;
  }
}
body main section.main-effect .main-parallax .blink_zoom div.top {
  right: -10px;
  top: -10px;
  border-top: 2px solid #444;
  border-right: 2px solid #222;
  animation: blink_main_top 2s ease-in-out infinite;
}
body main section.main-effect .main-parallax .blink_zoom div.bottom {
  bottom: -10px;
  left: -10px;
  border-left: 2px solid #444;
  border-bottom: 2px solid #222;
  animation: blink_main_bottom 2s ease-in-out infinite;
}
body main section.main-effect .main-parallax .blink_zoom div.left {
  left: -10px;
  top: -10px;
  border-top: 2px solid #444;
  border-left: 2px solid #222;
  animation: blink_main_left 2s ease-in-out infinite;
}
body main section.main-effect .main-parallax .blink_zoom div.right {
  right: -10px;
  bottom: -10px;
  border-bottom: 2px solid #444;
  border-right: 2px solid #222;
  animation: blink_main_right 2s ease-in-out infinite;
}
body .contact {
  position: fixed;
  bottom: 0;
  height: auto;
  left: 50%;
  transform: translate(-50%, calc(100% - 40px));
  height: 100vh;
}
body .contact button {
  color: #000;
  background: #fff;
  font-family: "helvetical-bold";
  font-size: 18px;
  height: 40px;
  width: 200px;
  font-weight: 100;
}
body .contact .cont {
  background: rgb(128, 128, 128);
  position: absolute;
  height: calc(100% - 40px);
  width: 50vw;
  border-radius: 0 20px 0 0;
}
body .contact.active {
  animation: contactUp 1s ease forwards;
}
body footer {
  color: rgb(128, 128, 128);
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 13px;
}
@media (max-width : 500px) {
  body footer {
    bottom: 50px;
    text-align: center;
    width: 100%;
    right: auto;
    font-size: 12px;
  }
}

@keyframes blink_main_top {
  0% {
    right: -10px;
    top: -10px;
    opacity: 0;
  }
  50% {
    right: -20px;
    top: -20px;
    opacity: 1;
  }
  100% {
    right: -10px;
    top: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_bottom {
  0% {
    left: -10px;
    bottom: -10px;
    opacity: 0;
  }
  50% {
    left: -20px;
    bottom: -20px;
    opacity: 1;
  }
  100% {
    left: -10px;
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_left {
  0% {
    left: -10px;
    top: -10px;
    opacity: 0;
  }
  50% {
    left: -20px;
    top: -20px;
    opacity: 1;
  }
  100% {
    left: -10px;
    top: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_right {
  0% {
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
  50% {
    right: -20px;
    bottom: -20px;
    opacity: 1;
  }
  100% {
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes appearText {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes contactUp {
  0% {
    transform: translate(-50%, calc(100% - 40px));
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
@keyframes opacityAdjust {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
