@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "helvetical-light";
  src: url("../fonts/Helvetica-Light.woff");
  font-weight: bold;
}
@font-face {
  font-family: "helvetical-normal";
  src: url("../fonts/Helvetica-Normal.woff");
  font-weight: bold;
}
@font-face {
  font-family: "helvetical-bold";
  src: url("../fonts/Helvetica-Bold.woff");
  font-weight: bold;
}
* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* 스크롤바 뒷 배경 색상 */
}

body {
  background: #000;
  overflow-x: hidden;
}
body#works-1 header, body#works-2 header, body#works-3 header, body#works-4 header {
  backdrop-filter: blur(0);
}
body#works-1 header .logo p, body#works-2 header .logo p, body#works-3 header .logo p, body#works-4 header .logo p {
  color: #000;
}
body#works-1 header .ham span, body#works-2 header .ham span, body#works-3 header .ham span, body#works-4 header .ham span {
  background: #000;
}
body#works-1 .txt-sec-1 {
  opacity: 1;
  z-index: 10;
  position: fixed;
}
body#works-2 .txt-sec-2 {
  opacity: 1;
  z-index: 10;
}
body#works-3 .txt-sec-3 {
  opacity: 1;
  z-index: 10;
}
body#works-4 .txt-sec-4 {
  opacity: 1;
  z-index: 10;
}
body header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}
body header .logo {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%);
}
body header .logo p {
  color: rgb(128, 128, 128);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: opacity 0.5s ease;
  text-transform: uppercase;
}
body header .ham {
  width: 30px;
  height: 35px;
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
body header .ham span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
body header .ham span:nth-child(1) {
  top: 0px;
}
body header .ham span:nth-child(2) {
  top: 9px;
}
body header .ham span:nth-child(3) {
  top: 19px;
}
body header .ham.on {
  width: 30px;
}
body header .ham.on span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
body header .ham.on span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
body header .ham.on span:nth-child(3) {
  transform: rotate(-45deg);
  top: 19px;
  left: 8px;
}
body header .menuContents {
  width: 100vw;
  height: 100vh;
  background: transparent;
  background: #000;
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
}
body header .menuContents .cont {
  border-right: 1px solid #333;
  width: 33.3333333333%;
  height: 0;
  z-index: 1000;
  transition: all 0.5s forwards;
}
body main section.intro > div.main-effect {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
body main section.intro > div.main-effect .main-parallax {
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.intro > div.main-effect .main-parallax .box {
  position: fixed;
  background-position: top center;
  background-size: cover;
  perspective: 400px;
  width: 30vw;
  height: 30vw;
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid rgb(140, 140, 140);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
body main section.intro > div.main-effect .main-parallax .box img {
  width: 100%;
  position: absolute;
  z-index: 1;
  filter: grayscale(100);
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle {
  background: #000;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle.active {
  animation: opacityAdjust 0.4s ease forwards;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 {
  font-size: 3vw;
  font-weight: 100;
  width: 30vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 25px;
  transition: letter-spacing ease 1s;
  z-index: 100;
  color: #000;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 span {
  display: block;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 span.scale-up-appear {
  opacity: 0;
  display: none;
  transition: display 1s ease-in-out;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 span.scale-up-appear.active {
  opacity: 1;
  display: block;
  animation: appearText forwards;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 span.scale-up-disappear {
  opacity: 1;
  display: block;
  transition: display 1s ease-in-out;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2 span.scale-up-disappear.active {
  opacity: 0;
  display: none;
  animation: appearText reverse forwards;
}
body main section.intro > div.main-effect .main-parallax .box.mainTitle h2.active {
  letter-spacing: 0;
  font-weight: 500;
}
body main section.intro > div.main-effect .main-parallax .line4 > div {
  width: 200vw;
  height: 1px;
  background: rgb(56, 56, 56);
  position: absolute;
}
body main section.intro > div.main-effect .main-parallax .line4 > div.top-left {
  left: -107.2vw;
  top: 0;
  transform: rotate(31deg);
}
body main section.intro > div.main-effect .main-parallax .line4 > div.top-right {
  right: -107.2vw;
  top: 0;
  transform: rotate(-31deg);
}
body main section.intro > div.main-effect .main-parallax .blink_zoom div {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 2px;
}
@media (max-width : 500px) {
  body main section.intro > div.main-effect .main-parallax .blink_zoom div {
    width: 25px;
    height: 25px;
  }
}
body main section.intro > div.main-effect .main-parallax .blink_zoom div.top {
  right: -10px;
  top: -10px;
  border-top: 2px solid #222;
  border-right: 2px solid #222;
  animation: blink_main_top 2s ease-in-out infinite;
}
body main section.intro > div.main-effect .main-parallax .blink_zoom div.bottom {
  bottom: -10px;
  left: -10px;
  border-left: 2px solid #222;
  border-bottom: 2px solid #222;
  animation: blink_main_bottom 2s ease-in-out infinite;
}
body main section.intro > div.main-effect .main-parallax .blink_zoom div.left {
  left: -10px;
  top: -10px;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  animation: blink_main_left 2s ease-in-out infinite;
}
body main section.intro > div.main-effect .main-parallax .blink_zoom div.right {
  right: -10px;
  bottom: -10px;
  border-bottom: 2px solid #222;
  border-right: 2px solid #222;
  animation: blink_main_right 2s ease-in-out infinite;
}
body main section.intro > div.main-effect .main-parallax .deco {
  position: absolute;
  width: 27vw;
  height: 28vw;
}
body main section.intro > div.main-effect .main-parallax .deco .time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #000;
}
body main section.intro > div.main-effect .main-parallax .deco .battery {
  position: absolute;
  right: 0;
}
body main section.intro > div.main-effect .main-parallax .deco .battery .battery-box {
  width: 20px;
  height: 10px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main section.intro > div.main-effect .main-parallax .deco .battery .battery-box .battery-cont {
  width: calc(30% - 2px);
  height: 100%;
  background: rgb(125, 242, 125);
}
body main section.intro > div.main-effect .main-parallax .deco .battery .battery-box .battery-cont:last-child {
  background: none;
}
body main section.about {
  width: 100vw;
  height: auto;
  min-height: 150vh;
  background: #000;
  padding: 10vh 0 0 0;
  position: relative;
  z-index: 1000;
}
body main section.about .about-title {
  display: flex;
  margin-left: 5vw;
  justify-content: center;
}
body main section.about .about-title span {
  font-size: 8vw;
  font-weight: bold;
  color: #fff;
}
body main section.about .about-title span:nth-child(5) {
  margin-right: 2vw;
}
body main section.about .title-line {
  width: 100%;
  height: 1px;
  background: #3f3f3f;
}
body main section.about .year-line {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
body main section.about .year-line span {
  color: #fff;
  font-size: 15px;
  padding: 20px;
}
body main section.about .year-line .line {
  width: 80%;
  height: 1px;
  background: #606060;
}
body main section.about .about-contents > .wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
body main section.about .about-contents > .wrapper .picture {
  width: 30%;
  height: auto;
}
body main section.about .about-contents > .wrapper .picture img {
  width: 100%;
  filter: grayscale(100);
}
body main section.about .about-contents > .wrapper .description {
  width: 70%;
  height: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #606060;
}
body main section.about .about-contents > .wrapper .description .top_hello {
  border-bottom: 1px solid #606060;
  padding-bottom: 30px;
  padding-left: 30px;
  line-height: 2;
}
body main section.about .about-contents > .wrapper .description .top_hello a {
  color: #fff;
  font-size: 13px;
}
body main section.about .about-contents > .wrapper .description h2 {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
}
body main section.about .about-contents > .wrapper .description h2 span {
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 5px;
  background: #fff;
  color: #000;
}
body main section.about .about-contents > .wrapper .description h2 img {
  width: 25px;
  margin-left: 5px;
}
body main section.about .about-contents > .wrapper .description p {
  color: #fff;
  font-family: "helvetical-bold";
  font-size: 20px;
}
body main section.about .about-contents > .wrapper .description .slider {
  height: 20vh;
  width: 100%;
  padding: 15px 40px;
}
body main section.about .about-contents > .wrapper .description .slider .txt {
  padding-right: 20px;
}
body main section.about .about-contents > .wrapper .description .slider .txt p {
  font-size: 13px;
  line-height: 2;
  color: #eee;
}
body main section.about .about-contents > .wrapper .description .slider h3 {
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 100;
  font-family: "helvetical-bold";
}
body main section.about .about-contents .education {
  width: 80%;
  margin: 30px auto;
  border: 1px solid #606060;
  border-left: none;
  border-right: none;
}
body main section.about .about-contents .education h2.title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
body main section.about .about-contents .education .wrapper {
  display: flex;
  justify-content: space-between;
}
body main section.about .about-contents .education .wrapper ul {
  width: 50%;
  padding: 30px 0;
  padding-right: 40px;
}
body main section.about .about-contents .education .wrapper ul:not(:last-child) {
  border-right: 1px solid #606060;
}
body main section.about .about-contents .education .wrapper ul:not(:first-child) {
  padding: 30px 40px;
}
body main section.about .about-contents .education .wrapper ul li {
  color: #fff;
  padding: 5px 0;
  line-height: 1.5;
}
body main section.about .about-contents .education .wrapper ul li h2 {
  font-size: 15px;
  font-weight: 200;
}
body main section.about .about-contents .education .wrapper ul li p {
  font-size: 12px;
}
body main section.about .about-contents .skills {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}
body main section.about .about-contents .skills ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main section.about .about-contents .skills ul li {
  border: 1px solid #606060;
  background: #fff;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
body main section.about .about-contents .skills ul li h2 {
  font-size: 30px;
}
body main section.about .about-contents .skills ul:first-child li {
  width: 25%;
  margin-top: 0;
}
body main section.about .about-contents .skills ul:nth-child(2) li {
  width: 20%;
}
body main section.about .about-contents .skills ul:nth-child(3) li {
  width: 25%;
}
body main section.works {
  width: 100%;
  height: auto;
  background: #fff;
}
body main section.works > h2 {
  font-size: 150px;
  width: 100%;
  border-bottom: 1px solid #000;
}
body main section.works .slider {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
body main section.works .slider > div {
  width: 50%;
  height: 100%;
}
body main section.works .slider > div h2 {
  font-size: 40px;
  color: #000;
}
body main section.works .slider .txt {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
}
body main section.works .slider .txt.txt-sec-1 {
  opacity: 1;
  position: absolute;
}
body main section.works .slider .txt.txt-sec-2 .main-text h2 {
  color: #ffffff;
}
body main section.works .slider .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main section.works .slider .main-text h2 {
  font-size: 80px;
  line-height: 1;
}
body main section.works .slider .main-text .achieve {
  display: flex;
  margin: 50px 0 0 0;
}
body main section.works .slider .main-text .achieve li {
  background: #000;
  padding: 5px;
  margin-right: 5px;
}
body main section.works .slider .main-text .achieve li p {
  color: #fff;
  font-size: 14px;
}
body main section.contact {
  position: fixed;
  bottom: 0;
  height: auto;
  left: 50%;
  transform: translate(-50%, calc(100% - 40px));
  height: 100vh;
}
body main section.contact button {
  color: #dfdfdf;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  font-family: "helvetical-bold";
  font-size: 15px;
  height: 40px;
  width: 200px;
  padding: 0;
}
body main section.contact .cont {
  background: rgb(128, 128, 128);
  position: absolute;
  height: calc(100% - 40px);
  width: 50vw;
  border-radius: 0 20px 0 0;
}
body main section.contact.active {
  animation: contactUp 1s ease forwards;
}
body main .goTo_works {
  margin-top: 20vh;
}
body main .goTo_works h3 {
  font-size: 150px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  line-height: 1;
}
body footer {
  color: rgb(128, 128, 128);
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 13px;
}
@media (max-width : 500px) {
  body footer {
    bottom: 50px;
    text-align: center;
    width: 100%;
    right: auto;
    font-size: 12px;
  }
}

@keyframes blink_main_top {
  0% {
    right: -10px;
    top: -10px;
    opacity: 0;
  }
  50% {
    right: -20px;
    top: -20px;
    opacity: 1;
  }
  100% {
    right: -10px;
    top: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_bottom {
  0% {
    left: -10px;
    bottom: -10px;
    opacity: 0;
  }
  50% {
    left: -20px;
    bottom: -20px;
    opacity: 1;
  }
  100% {
    left: -10px;
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_left {
  0% {
    left: -10px;
    top: -10px;
    opacity: 0;
  }
  50% {
    left: -20px;
    top: -20px;
    opacity: 1;
  }
  100% {
    left: -10px;
    top: -10px;
    opacity: 0;
  }
}
@keyframes blink_main_right {
  0% {
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
  50% {
    right: -20px;
    bottom: -20px;
    opacity: 1;
  }
  100% {
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes appearText {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes contactUp {
  0% {
    transform: translate(-50%, calc(100% - 40px));
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
@keyframes opacityAdjust {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
